@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");

@layer base {
  :root {
    --background: 200 50% 3%;
    --btn-background: 200 10% 9%;
    --btn-background-hover: 200 10% 12%;
    --foreground: 200 20% 96%;
  }
}
h1 {
}

main {
  font-family: Roboto, monospace;
}
